# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [2]:
x=[1,2,3,4]
x

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [6]:
# Method 1 
x=[1,2,3,4]
x.remove(3)

In [8]:
# Method 2
x=[1,2,3,4]
x.pop(2)
x

[1, 2, 4]

In [10]:
# Method 3
x=[1,2,3,4]
del x[2]
x

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [13]:
x=[2,3,4]
x.insert(0,1)
x

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [14]:
x.insert(2,"two-and-half")

In [15]:
x

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [19]:
phrase = "Don't panic!"
a=list(phrase)

*convert into list*

In [20]:
a

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [21]:
a

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [31]:
phrase = "Don't panic!"
a=list(phrase)
a.remove("'"),a.remove('!')
a

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [37]:
phrase = "Don't panic!"
a=list(phrase)
a.remove("'"),a.remove('!'),a.remove('p'),a.remove('a'),a.remove('n'),a.remove('D')
a.extend('pand')
a

['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'd']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [41]:
x= ['p','a','n','D','a']
"".join(x)

'panDa'

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [42]:
z=(31,24,35,85)
z

(31, 24, 35, 85)

In [45]:
x=type(z)
print('data type ',x)
z

data type  <class 'tuple'>

(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [5]:
a=(31, 24, 35, 85)
b=list(a)
b.remove(35)
tuple(b)

(31, 24, 85)

**Extent** tuple (85,19)

In [56]:
a=(31, 24, 35, 85)
b=list(a)
b.extend([85,19])
print(b)

[31, 24, 35, 85, 85, 19]

In [58]:
tuple(b)

(31, 24, 35, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [60]:
tpl = ('i','n''n','0')
'i' in tpl

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [63]:
list = ['Hello',100,[],'innomatics']
list[2]=[200]
list

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [68]:
# CODE HERE
tpl = ("Innomatics")
a=str(tpl)
b=a[::-1]
c=tuple(b)
c

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [9]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [1]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
[tpl[0]+(100,),tpl[1]+(100,),tpl[2]+(100,)]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [10]:
tpl=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
tpl=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
a=list(tpl[0])
a.pop()
a.append(100)
a
b=list(tpl[1])
b.pop()
b.append(100)
b
c=list(tpl[2])
c.pop()
c.append(100)
c
d=[tuple(a),tuple(b),tuple(c)]
d

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [17]:
x='523665'
v=list(x)
k=set(v)
c=list(k)
c.sort()
print('the second highest value in ',x ,'is' ,c[-2])

the second highest value in  523665 is 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [1]:
x=[12,24,35,70,88,120,155]
x.remove(12),x.remove(88),x.remove(120)
x

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [75]:
x=(1,2,3,4,5,6,7,8,9,10)
y=x[0:5]
z=x[5:]
print(y,z)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [81]:
x=(1,2,3,4,5,6,7,8,9,10)
x[1::2]

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
Lists are mutable and tuples are immutable.

### 2. Explain the difference between append() and extend() with examples

append() add a single element at atime, but extend() adds multiple elements of same data type.

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
pop() delet the elements using index value and where as remove() takes the value to be deleted.

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

In [1]:
x=5
u=4
x,u=u,x

In [2]:
u

5

In [4]:
4%7

4

In [5]:
7//2.0

3.0

In [8]:
x='123'
y='d'
x+y

'123d'