# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [1]:
# CODE HERE

In [2]:
person1={'Gender': 'Male','Location': 'Nizampet, Hyderabad','Name': 'John','Occupation': 'Data Scientist'}
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [4]:
list(person1.keys())

['Gender', 'Location', 'Name', 'Occupation']

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [9]:
person1={'Gender': 'Male','Location': 'Nizampet, Hyderabad','Name': 'John','Occupation': 'Data Scientist'}
del  person1['Location']
person1

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [10]:
person2={'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [13]:
print("==================== person1 ====================")
print(person1)
print("==================== person2 ====================")
print(person2)

==================== person1 ====================
{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [3]:
# using pop method
x={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
x.pop(2)
print(x)
# using delet method
x={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
del x[2]
print(x)
# using clear method
x={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
x.clear()
x

{1: 1, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [2]:
x={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
y=list(x.keys())
y.sort(reverse=True)
z={}
i=0
while i<len(y):
    z.update({y[i]:x[y[i]]})
    i=i+1
z

{9: 81, 7: 49, 5: 25, 3: 9, 1: 1, 0: 0}

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [ ]:
# CODE HERE

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
dict1.update(dict2)
dict1.update(dict3)
dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [11]:
x= {'emp1': {'name': 'Jhony', 'salary': 7500},'emp2': {'name': 'Ravi', 'salary': 8000},
               'emp3': {'name': 'Charan', 'salary': 6500}}
x.update({'emp3':{'salary':8500}})
x

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = { "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [15]:
x= { "class": { "student": { "name": "Mike","marks": { "physics": 70,"history": 80}}}}
x['class']['student']['marks']['history']

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [21]:
x={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}
x['Area']=x['Location']
del x['Location']
x

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

In [1]:
#if the username and password matches print hello username
database = {'ram':1234,'raghu':5678,'kanav':1357}
username=input('Please enter the username : ')
password=int(input('Please enter the password : '))
for i in database:
    if username==i:
        if password==database[i] or password==database[i] or password==database[i]:
            print('hello ',username)

Please enter the username : ram
Please enter the password : 1234
hello  ram

In [3]:
#if the username and password doesnot match, ask, you want me to add into the database
database = {'ram':1234,'raghu':5678,'kanav':1357}
username=input('Please enter the username : ')
password=int(input('Please enter the password : '))
for i in database:
    if username==i:
        if password==database[i] or password==database[i] or password==database[i]:
            print('hello ',username)
    else:
        x=input('yes or no : ' )
        if x=='yes':
            database[username]=password
            print('Thank you')

Please enter the username : vinay
Please enter the password : 3333
yes or no : yes
Thank you

RuntimeError: dictionary changed size during iteration

In [4]:
#show the updated database list
print(database)

{'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'vinay': 3333}