# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

volume = 4/3 pi $r ^3$

In [3]:
def vol(rad):
    print(4/3*3.14*(rad**3))
vol(2)

33.49333333333333

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [34]:
def ran_check(num,low,high):
    for i in range(low,high):
        if num<low:
            print('value is less then the lower value')
            break
        elif num>low and num<high:
            print('value is in the given range ')
            break
        else:
            print('value is higher then the high value')
            break
ran_check(101,100,1000)

value is in the given range

If you only wanted to return a boolean:

In [67]:
def ran_bool(num,low,high):
    for i in range(low,high):
        if num>low and num<high:
            return True
        else:
            return False
ran_bool(9,1,10)

True

In [0]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [15]:
def ull(x):
    u=0
    l=0
    for i in x:
        if ord(i) in range (65,91):
            u=u+1
        elif ord(i) in range (97,123):
            l=l+1
    print('No. of Upper case characters : {}'.format(u))
    print('No. of Lower case Characters : {}'.format(l))
ull('Hello Mr. Rogers, how are you this fine Tuesday?')

No. of Upper case characters : 4
No. of Lower case Characters : 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [25]:
def unique_list(l):
    k=[]
    n=set(l)
    print(list(n))
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [0]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [66]:
def multiply(x):  
    k=1
    for i in range(len(x)):
        k=k*x[i]
        
    print('Expected Output : {}'.format(k))
multiply([1,2,3,-4])

Expected Output : -24

In [0]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [124]:
def palindrome(s):
    n=-1
    k=0
    z=0
    for i in range(len(s)):
        if s[k]==s[n]:
            z=z+1
        k=k+1
        n=n-1
    if z==len(s):
        print('True')
    else:
        print('False')
palindrome('helleh')

True

In [87]:
def pali(x):
    a=list(x)
    a.reverse()
    print(list(x)==a)
pali('helleh')

True

In [72]:
def pali(x):
    a=x[::-1]
    print(a==x)
pali('helleh')

True

In [0]:
palindrome('helleh')

True

## Given a number N.Find Sum of 1 to N Using Recursion

In [6]:
# CODE HERE
def summation(n):
    if n==0:
        return n
    else:
        n=n+summation(n-1)
        return n


n = int(input())
sum = summation(n)
print(sum)

10
55

### Define a function which can generate and print a list where the values are square of numbers between 1 and 20

In [92]:
list(map(lambda x:x**2,range(1,21)))

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [3]:
def printList():
#Code here

printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [100]:
def dk(x):
    d={}
    for i in x:
        d.update({i:i**2})
    return d.keys()
dk(range(1,21))

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [4]:
def printDict():
    #Code Here


printDict()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

### Write a function that count the no of characters of the given input text
- input
    - innomatics research labs
    
- output
    - innomatics :10
    - research : 8
    - labs : 4

In [120]:
def innomatics(x):
    k=x.split()
    for i in k:
        print(i,':',len(i))
innomatics('innomatics research labs')

innomatics : 10
research : 8
labs : 4

### Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Using map() function

In [130]:
list(map(lambda x:x**2 ,range(1,11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
# CODE HERE
# No different way of code is written as the requirment is specificly mentioned in problem description

li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


print(list(squaredNumbers))  # converting the object into list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
##### using filter()

In [17]:
list(map(lambda x:x**2,filter(lambda x:x%2==0,[1,2,3,4,5,6,7,8,9,10])))

[4, 16, 36, 64, 100]

### Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)

In [1]:
list(filter(lambda x:x%2==0,range(1,21)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [3]:
list(filter(lambda x:x%2==0,range(1,21)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### $f(n)=f(n-1)+f(n-2)$ if n>1

In [4]:
#fibonacci serics
def fibo(n):
    if n==1:
        return 0
    if n==2:
        return 1
    return fibo(n-1)+fibo(n-2)
n=int(input('enter number of terms needed : '))
for i in range(1,n+1):
    print(fibo(i))

enter number of terms needed : 10
0
1
1
2
3
5
8
13
21
34

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)